<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d [%t] %-5p [%c] %m%n" />
            <!-- Optionally define a file appender if you want to log to a file -->
            <!--
            <File name="file" fileName="logs/app.log">
                <PatternLayout pattern="%d [%t] %-5p [%c] %m%n" />
            </File>
            -->
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.tomcat" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.catalina" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.ecommerce.controller.master.GatewayController" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>